---
import '../styles/window.css';

interface Props {
  title: string;
  style?: string;
}

const { title, style } = Astro.props;
---

<div class="window" style={style}>
  <div class="window-header">
    <div class="window-title">{title}</div>
  </div>
  <div class="window-content">
    <slot />
  </div>
</div>